{{ define "title" }}ARC Sponsors{{ end }}
{{ define "main" }}
  {{ partial "title.html" . }}

  {{ .Content }}

  <div class="container">
    {{/* Put higher levels first */}}
    {{ range (.Pages.GroupByParam "Level").Reverse }}
      {{ with index $.Site.Params.sponsorship.levels .Key }}
        <h2 class="page-header">{{ . }}</h2>
      {{ else }}
        {{ errorf "%d is not a known sponsorship level see [params.sponsorship.level] in `config.toml`." .Key }}
      {{ end }}
      <div class="row masonry-xs-6 masonry-sm-4 masonry-md-3">
        {{ range .Pages.ByTitle }}
          <div class="masonry-item">
            <a href="{{ .Params.link }}">
              <div class="thumbnail">
                <img src="logos/{{ .Params.logo }}" alt="{{ .Title }} Logo" class="img-responsive center-block">
                <div class="caption">
                  <h4 align="center">{{ .Title }}</h4>
                </div>
              </div>
            </a>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
