{{ define "title" }}ARC Sponsors{{ end }}
{{ define "main" }}
  {{ partial "title.html" . }}

  {{ .Content }}

  <div class="container">
    {{/* Put higher levels first */}}
    {{ range (.Pages.GroupByParam "Level").Reverse }}
      {{ with index $.Site.Params.sponsorship.levels .Key }}
        <h2 class="page-header">{{ . }}</h2>
      {{ else }}
        {{ errorf "%d is not a known sponsorship level see [params.sponsorship.level] in `config.toml`." .Key }}
      {{ end }}
      <div class="card-columns">
        {{ range .Pages.ByTitle }}
          <a href="{{ .Params.link }}">
            <div class="card">
              <img class="card-img-top" src="logos/{{ .Params.logo }}" alt="{{ .Title }}">
              <div class="card-body text-center text-dark">
                <h5 class="card-title">{{ .Title }}</h5>
              </div>
            </div>
          </a>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
