<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  {{ partial "meta.html" . }}
  <link rel="icon" href="{{ "favicon.ico" | relURL }}">
  <meta name="theme-color" content="#cc0000">

  {{/* Bootstrap CSS */}}
  {{ $style := resources.Get "scss/custom.scss" | css.Sass | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<body>
  {{ block "only_meta" . }}
  {{ partial "navbar.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
  {{ partial "clarity.html" . }}
  {{ end }}

  {{ $script := resources.Get "js/site.js" | js.Build | resources.Minify | resources.Fingerprint }}
  <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>
</body>

</html>
