{{ define "title" }}About ARC{{ end }}
{{ define "main" }}
{{ partial "title.html" . }}
<div class="container site-section">
  <div class="row">
    <div class="{{ if .Params.image }}col-md-6{{ else }}col-12{{ end }}">
      {{ .Content }}
    </div>
    {{ with .Params.image }}
    <div class="col-md-6">
      <img class="img-fluid media-frame" src="{{ path.Join $.Section . | relURL }}" alt="Aerial Robotics Club members">
    </div>
    {{ end }}
  </div>

  <div class="row mt-5">
    <div class="col-lg-12">
      <h2>Our Officers</h2>
    </div>
    {{ range .Pages.ByParam "order" }}
    {{ $officer := . }}
    <div class="col-12 col-sm-6 col-lg-4 mb-3">
      <div class="card officer-card h-100">
        <img class="card-img-top" src="{{ path.Join .Section .Params.image | relURL }}" alt="{{ .Params.name }}, {{ .Params.role }}">
        <div class="card-body">
          <h5 class="card-title">
            {{ .Params.name }} <small class="text-muted">{{ .Params.role }}</small>
          </h5>
          <div class="card-text">
            {{ .Params.description }}
            <ul class="list-inline float-right mt-1">
              {{ range $key, $val := .Params.social }}
              <li class="list-inline-item">
                <a href="{{$val}}" target="_blank" rel="noopener noreferrer" aria-label="{{ $officer.Params.name }} on {{ $key }}">
                  <i class="fab fa-lg fa-{{$key}}" aria-hidden="true"></i>
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
