<footer class="container">
  <hr>
  <div class="row">
    <div class="col-sm-8">
      <p>Copyright &copy; Aerial Robotics Club at NC State {{ now.Year }}</p>
    </div><!-- ./col -->

    <div class="col-sm-4 text-right">
      <a href="mailto:aerialrobotics@ncsu.edu" class="px-2">
        <i class="far fa-envelope fa-2x"></i>
      </a>
      <a href="http://www.facebook.com/ncsuarc" class="px-2">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/company/arc-ncsu/about/" class="px-2">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="https://github.com/ncsuarc" class="px-2">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div><!-- ./col -->
  </div><!-- ./row -->
</footer>
