<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container">
    <a class="navbar-brand navbar-inline" href="{{ "/" | relURL }}">
      <img src="{{ "/images/logo.svg" | relURL }}" height="45">
      {{/* We only show the title on sm+ devices */}}
      <span class="d-none d-sm-inline-block">{{ .Site.Title }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {{/* ml-auto adds a left margin, meaning the items are right aligned */}}
      <ul class="navbar-nav ml-auto">
        {{ $current_page := . }}
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class="nav-item dropdown {{if in $current_page.RelPermalink .URL}}active{{end}}">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                {{ .Name }}<b class="caret"></b>
              </a>
              <div class="dropdown-menu {{if in $current_page.RelPermalink .URL}}active{{end}}" aria-labelledby="navbarDropdown">
                {{ range sort .Children "Weight" }}
                  <a class="dropdown-item" href="{{ .URL }}">
                    {{ .Name }}
                    <span class="sr-only"> (current)</span>
                  </a>
                {{ end }}
              </div>
            </li>
          {{ else }}
            <li class="nav-item {{if in $current_page.RelPermalink .URL}}active{{end}}">
              <a class="nav-link" href="{{ .URL }}">
                {{ .Name }}<span class="sr-only"> (current)</span>
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
